.container-jobform {
  margin: 30px;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  box-shadow: #333;
}

.container-jobform h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}


.container-jobform h6 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.container-jobform .form-control {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container-jobform button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
  width: 1300px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.text-danger {
  color: #ff4d4d;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 5px;
}

#postLanguages, #techKnowledges {
  margin-top: 20px;
}

#postLanguages div, #techKnowledges div {
  margin-bottom: 10px;
}
