/* default colors */
:root {
    /* background color */
    --main-dvar-bg-color: rgb(131, 115, 115);
    /* text-color */
    --main-dvar-text-color: rgb(0, 0, 0);
    /* dropdown items color hover*/
    --main-dvar-dropdown-item-hover: rgb(120, 100, 100);
}

/* colors in dark mode, just one element with this class is enough to set these colors */
.nb-dark-mode {
    /* background color */
    --main-dvar-bg-color: rgb(0, 0, 0);
    /* text-color */
    --main-dvar-text-color: rgb(255, 255, 255);
    /* dropdown items color hover*/
    --main-dvar-dropdown-item-hover: rgb(50, 50, 50);
}

.navbar {
    background-color: var(--main-dvar-bg-color) !important;
}

.nb-dropdown-list {
    background-color: var(--main-dvar-bg-color) !important;
}

h5,
a,
.navbar-toggler-icon {
    color: var(--main-dvar-text-color) !important;
}

.btn-search {
    background-color: white !important;
}

.btn-search:hover {
    background-color: lightgrey !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.search-icon {
    color: grey;
}

.help-icon {
    color: var(--main-dvar-text-color) !important;
}

.input-search:focus>.btn-search {
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
}

.border-dark-mode {
    border-color: grey !important;
}

.btn-login {
    background-color: var(--main-dvar-bg-color) !important;
    color: var(--main-dvar-text-color) !important;
}

.full-width {
    position: fixed !important;
    top: 45px !important;
    left: 0 !important;
    right: 0 !important;
    width: 98vw !important;
    margin: 0 1vw !important;
    z-index: 1050 !important; 
    padding: 0 10px !important;
    box-sizing: border-box !important;
}

.mid-width {
    width: 40vw;
    max-width: 350px !important;
}

.not-arrow::after {
    border: none !important;
}

.navbar-noti-custom {
    margin-top: 11px !important;
}

.dropdown-item:hover {
    background-color: var(--main-dvar-dropdown-item-hover) !important;
}