/* default colors */
:root {
    /* background color */
    --main-dvar-bg-color: rgb(131, 115, 115);
    /* text-color */
    --main-dvar-text-color: rgb(0, 0, 0);
}

/* colors in dark mode */
.nb-dark-mode {
    /* background color */
    --main-dvar-bg-color: rgb(0, 0, 0);
    /* text-color */
    --main-dvar-text-color: rgb(255, 255, 255);
}

.navbar {
    background-color: var(--main-dvar-bg-color) !important;
}

.nb-dropdown-list {
    background-color: var(--main-dvar-bg-color) !important;
}

h5,
a,
.navbar-toggler-icon {
    color: var(--main-dvar-text-color) !important;
}

.btn-search {
    background-color: white !important;
}

.btn-search:hover {
    background-color: lightgrey !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.search-icon {
    color: grey;
}

.help-icon {
    color: var(--main-dvar-text-color) !important;
}

.input-search:focus>.btn-search {
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
}

.border-dark-mode {
    border-color: grey !important;
}

.btn-login {
    background-color: var(--main-dvar-bg-color) !important;
    color: var(--main-dvar-text-color) !important;
}